### Java-Web ###
## ignoring target file
target/

### Java ###
# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/WEB-INF/glassfish-resources.xml
/Proyecto FeatureIDE/Bicishare/src/nb-configuration.xml
/Proyecto FeatureIDE/Bicishare/features/src/main/resources/META-INF/persistence.xml
/Proyecto FeatureIDE/Bicishare/configs/default.xml
/Proyecto FeatureIDE/Bicishare/src/target/Bicishare-1.0/WEB-INF/glassfish-resources.xml
/Proyecto FeatureIDE/Bicishare/bin/pom.xml
/Proyecto FeatureIDE/Bicishare/bin/src
/Proyecto FeatureIDE/Bicishare/bin/target
/Proyecto FeatureIDE/Bicishare/bin/nb-configuration.xml
/Proyecto FeatureIDE/Bicishare/src/nb-configuration.xml
/Proyecto FeatureIDE/Bicishare/src/pom.xml
/Proyecto FeatureIDE/Bicishare/src/src
/Proyecto FeatureIDE/Bicishare/src/target
/Proyecto FeatureIDE/Bicishare/features/src/main/java/Bicishare/dto/LogroClienteDTO.java
/Proyecto FeatureIDE/Bicishare/features/src/main/java/Bicishare/persistencia/entity/Accesorio.java
/Proyecto FeatureIDE/Bicishare/features/src/main/java/Bicishare/persistencia/entity/Bicicleta.java
/Proyecto FeatureIDE/Bicishare/features/src/main/java/Bicishare/persistencia/entity/Biciusuario.java
/Proyecto FeatureIDE/Bicishare/features/src/main/java/Bicishare/persistencia/entity/Bonificacion.java
/Proyecto FeatureIDE/Bicishare/features/src/main/java/Bicishare/persistencia/entity/BonificacionGanada.java
/Proyecto FeatureIDE/Bicishare/features/src/main/java/Bicishare/persistencia/entity/Convenio.java
/Proyecto FeatureIDE/Bicishare/features/src/main/java/Bicishare/persistencia/entity/Efectivo.java
/Proyecto FeatureIDE/Bicishare/features/src/main/java/Bicishare/persistencia/entity/Logro.java
/Proyecto FeatureIDE/Bicishare/features/src/main/java/Bicishare/persistencia/entity/LogroCliente.java
/Proyecto FeatureIDE/Bicishare/features/src/main/java/Bicishare/persistencia/entity/Marca.java
/Proyecto FeatureIDE/Bicishare/features/src/main/java/Bicishare/persistencia/entity/MedioDePago.java
/Proyecto FeatureIDE/Bicishare/features/src/main/java/Bicishare/persistencia/entity/MedioDePagoUso.java
/Proyecto FeatureIDE/Bicishare/features/src/main/java/Bicishare/persistencia/entity/Multa.java
/Proyecto FeatureIDE/Bicishare/features/src/main/java/Bicishare/persistencia/entity/PSE.java
/Proyecto FeatureIDE/Bicishare/features/src/main/java/Bicishare/persistencia/entity/Pago.java
/Proyecto FeatureIDE/Bicishare/features/src/main/java/Bicishare/persistencia/entity/Prestamo.java
/Proyecto FeatureIDE/Bicishare/features/src/main/java/Bicishare/persistencia/entity/Proveedor.java
/Proyecto FeatureIDE/Bicishare/features/src/main/java/Bicishare/persistencia/entity/TarjetaCredito.java
/Proyecto FeatureIDE/Bicishare/features/src/main/java/Bicishare/persistencia/entity/Usuario.java
/Proyecto FeatureIDE/Bicishare/bin/src/main/java/Bicishare/persistencia/.gitignore
/Proyecto FeatureIDE/Bicishare/bin/src/main/java/Bicishare/persistencia/entidad/.gitignore
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/css/main.css
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/AccesorioController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/BicicletaController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/BiciusuarioController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/BonificacionController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/BonificacionGanadaController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/ConvenioController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/EfectivoController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/LogroController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/MarcaController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/MedioDePagoController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/MedioDePagoUsoController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/MultaController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/PSEController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/PagoController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/PrestamoController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/ProveedorController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/RouteProvider.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/TarjetaCreditoController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/UsuarioController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/lib/.gitignore
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Accesorio.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Bicicleta.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Biciusuario.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Bonificacion.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/BonificacionGanada.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Convenio.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Efectivo.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Logro.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Marca.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/MedioDePago.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/MedioDePagoUso.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Multa.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/PSE.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Pago.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Prestamo.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Proveedor.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/TarjetaCredito.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Usuario.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/menu.html
/Proyecto FeatureIDE/Bicishare/src/src/main/java/Bicishare/persistencia/.gitignore
/Proyecto FeatureIDE/Bicishare/src/src/main/java/Bicishare/persistencia/entidad/.gitignore
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/css/main.css
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/AccesorioController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/BicicletaController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/BiciusuarioController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/BonificacionController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/BonificacionGanadaController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/ConvenioController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/EfectivoController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/LogroController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/MarcaController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/MedioDePagoController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/MedioDePagoUsoController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/MultaController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/PSEController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/PagoController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/PrestamoController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/ProveedorController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/RouteProvider.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/TarjetaCreditoController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/UsuarioController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/lib/.gitignore
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Accesorio.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Bicicleta.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Biciusuario.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Bonificacion.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/BonificacionGanada.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Convenio.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Efectivo.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Logro.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Marca.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/MedioDePago.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/MedioDePagoUso.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Multa.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/PSE.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Pago.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Prestamo.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Proveedor.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/TarjetaCredito.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Usuario.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/menu.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/java/Bicishare/persistencia/.gitignore
/Proyecto FeatureIDE/Bicishare/bin/src/main/java/Bicishare/persistencia/entidad/.gitignore
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/css/main.css
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/AccesorioController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/BicicletaController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/BiciusuarioController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/BonificacionController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/BonificacionGanadaController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/ConvenioController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/EfectivoController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/LogroController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/MarcaController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/MedioDePagoController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/MedioDePagoUsoController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/MultaController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/PSEController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/PagoController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/PrestamoController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/ProveedorController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/RouteProvider.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/TarjetaCreditoController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/UsuarioController.js
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/js/lib/.gitignore
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Accesorio.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Bicicleta.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Biciusuario.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Bonificacion.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/BonificacionGanada.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Convenio.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Efectivo.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Logro.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Marca.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/MedioDePago.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/MedioDePagoUso.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Multa.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/PSE.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Pago.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Prestamo.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Proveedor.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/TarjetaCredito.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/Usuario.html
/Proyecto FeatureIDE/Bicishare/bin/src/main/webapp/partials/menu.html
/Proyecto FeatureIDE/Bicishare/src/src/main/java/Bicishare/persistencia/.gitignore
/Proyecto FeatureIDE/Bicishare/src/src/main/java/Bicishare/persistencia/entidad/.gitignore
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/css/main.css
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/AccesorioController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/BicicletaController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/BiciusuarioController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/BonificacionController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/BonificacionGanadaController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/ConvenioController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/EfectivoController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/LogroController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/MarcaController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/MedioDePagoController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/MedioDePagoUsoController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/MultaController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/PSEController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/PagoController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/PrestamoController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/ProveedorController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/RouteProvider.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/TarjetaCreditoController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/UsuarioController.js
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/js/lib/.gitignore
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Accesorio.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Bicicleta.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Biciusuario.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Bonificacion.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/BonificacionGanada.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Convenio.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Efectivo.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Logro.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Marca.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/MedioDePago.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/MedioDePagoUso.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Multa.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/PSE.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Pago.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Prestamo.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Proveedor.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/TarjetaCredito.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/Usuario.html
/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/partials/menu.html
/Proyecto FeatureIDE/Bicishare/src
