### Java-Web ###
## ignoring target file
target/

### Java ###
# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

/Proyecto FeatureIDE/Bicishare/src/src/main/webapp/WEB-INF/glassfish-resources.xml
/Proyecto FeatureIDE/Bicishare/src/nb-configuration.xml
/Proyecto FeatureIDE/Bicishare/src/src/main/resources/META-INF/persistence.xml
/Proyecto FeatureIDE/Bicishare/src/target/Bicishare-1.0/WEB-INF/glassfish-resources.xml
