

<div class="panel panel-primary" ng-hide="panelEditar">
	<div class="panel-heading">Parametrizaci&oacute;n de Convenio</div>
	<div class="panel-body">
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-click="nuevo()">Nuevo
				Convenio</button>
		</div>
		<table class="resultados table table-striped">
			<tr>
				<th>Configuracion</th>
				<th><input class="form-control" ng-model="q"
					placeholder="Buscar" /></th>
			</tr>
			<tr dir-paginate="row in lista|filter: q|itemsPerPage:10">
				<td>{{row.Configuracion}}</td>
				<td class="row">
					<button type="button" class="btn btn-default"
						ng-click="editar(row)">
						<span class="glyphicon glyphicon-pencil"></span>Editar
					</button>
					<button type="button" class="btn btn-default"
						ng-click="eliminar(row)">
						<span class="glyphicon glyphicon-remove"></span>Eliminar
					</button>
				</td>
			</tr>
		</table>
		<div dir-pagination-controls></div>
		<br />
	</div>
</div>

<div class="panel panel-primary" ng-show="panelEditar">
	<div class="panel-heading">Parametrizaci&oacute;n de Convenio</div>
	<div class="panel-body">

		<div class="form-group col-md-6"
			ng-class="errores.Configuracion?'error':''">
			<label for="Configuracion">Configuracion</label> <input
				id="Configuracion" class="form-control" type="text"
				ng-model="datosFormulario.Configuracion" placeholder="Configuracion" />
			<div ng-show="errores.Configuracion">{{errores.Configuracion}}</div>
		</div>

		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-click="guardar()">Aceptar</button>
			<button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
		</div>
	</div>
</div>

