
<div class="btn-menu" onclick="window.location.href = '#/Bicicleta'">
	<button>
		<span class="glyphicon glyphicon-th"></span>
	</button>
	Bicicleta
</div>
<div class="btn-menu" onclick="window.location.href = '#/Usuario'">
	<button>
		<span class="glyphicon glyphicon-th"></span>
	</button>
	Usuario
</div>
<div class="btn-menu" onclick="window.location.href = '#/Logro'">
	<button>
		<span class="glyphicon glyphicon-th"></span>
	</button>
	Logro
</div>
<div class="btn-menu" onclick="window.location.href = '#/Multa'">
	<button>
		<span class="glyphicon glyphicon-th"></span>
	</button>
	Multa
</div>

<div class="btn-menu"
	onclick="window.location.href = '#/BonificacionGanada'">
	<button>
		<span class="glyphicon glyphicon-th"></span>
	</button>
	BonificacionGanada
</div>

<div class="btn-menu" onclick="window.location.href = '#/Bonificacion'">
	<button>
		<span class="glyphicon glyphicon-th"></span>
	</button>
	Bonificacion
</div>

<div class="btn-menu" onclick="window.location.href = '#/Biciusuario'">
	<button>
		<span class="glyphicon glyphicon-th"></span>
	</button>
	Biciusuario
</div>
<div class="btn-menu" onclick="window.location.href = '#/Prestamo'">
	<button>
		<span class="glyphicon glyphicon-th"></span>
	</button>
	Prestamo
</div>
<div class="btn-menu" onclick="window.location.href = '#/Marca'">
	<button>
		<span class="glyphicon glyphicon-th"></span>
	</button>
	Marca
</div>
<div class="btn-menu" onclick="window.location.href = '#/Proveedor'">
	<button>
		<span class="glyphicon glyphicon-th"></span>
	</button>
	Proveedor
</div>

<div class="btn-menu" onclick="window.location.href = '#/Pago'">
	<button>
		<span class="glyphicon glyphicon-th"></span>
	</button>
	Pago
</div>


<div class="btn-menu" onclick="window.location.href = '#/Accesorio'">
	<button>
		<span class="glyphicon glyphicon-th"></span>
	</button>
	Accesorio
</div>


