.panel-primary {
  border: none !important;
  border-radius: 0 !important;
}
/****************************** Estilos del Menu *************************************/
* {
  font-family: Lato,sans-serif;
}
.menu {
  height: 86px;
  line-height: 86px;
  padding: 0 30px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  z-index: 4;
}

.menu > ul {
  width: calc(100vw - 160px);
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.menu > img {
  display: inline-block;
}

.menu > ul > li{ 
  display: inline-block;
  list-style: none;
  padding: 0 10px;
}

.menu > ul > li a, .menu > ul > li a:visited {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  transition: all 1s ease;
}

.menu > ul > li:hover {
  background-color: #FFF;
}

.menu > ul > li:hover a {
  color: #000;
}
/****************************** Fin *************************************/

/****************************** Estilos del Home *************************************/

.home-wrapper > .banner {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.home-wrapper > .banner ul {
  width: auto;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  transition: all 1s ease;
}

.home-wrapper > .banner ul li.banner-img {
  display: inline-block;
  width: 100vw;
  position: relative;
  margin-left: -5px;
}

.home-wrapper > .banner ul li.banner-img > img {
  width: 100%;
  height: 600px;
}

.home-wrapper > .banner ul li.banner-img .banner-overlay {
  width: 100vw;
  height: 600px;
  position: absolute;
  top: 0; 
  left: 0;
  background-color: rgba(0,0,0,0.7);
  color: #FFF;
  z-index: 2;
}

.home-wrapper > .banner ul li.banner-img .banner-overlay p {
  line-height: 600px;
  font-size: 54px;
  font-weight: bold;
  color: inherit;
  text-align: center;
}

.chevron {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  font-size: 30px;
  z-index: 3;
  color: #FFF;
  border: none;
  background: none;
}

.chevron.chevron-left {
  left: 30px;
}

.chevron.chevron-right {
  right: 30px;
}

/****************************** Fin *************************************/
/****************************** Estilos del Footer *************************************/

.footer {
  width: 100%;
  height: 200px;
  background: #141414;
  color: #737373;
  padding: 20px 40px;
}

.footer .footer-up {
  width: 100%;
  padding: 0 0 20px;
  border-bottom: solid 1px #737373;
}

.footer ul {
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.footer .footer-up li {
  font-size: 12px;
  margin: 0 10px 0 0;
  border-right: solid 1px #737373;
  display: inline-block;
  padding-right: 10px;
}

.footer .footer-up li:last-child {
  border-right: none;
}

.footer .footer-up li i {
  color: #0CBDB8;
  margin-right: 5px;
}

.footer .footer-down {
  width: 100%;
  padding: 10px 0;
}

.footer .footer-down ul {
  display: inline;
  float: right;
}

.footer .footer-down li {
  font-size: 12px;
  margin: 0 10px 0 0;
  display: inline-block;
}

.footer .footer-down li i {
  font-size: 35px;
}
/****************************** Fin*************************************/