<div class="panel panel-primary">
  <ul class="accesorios-list mosaico">
    <li class="accesorio-wrapper" ng-repeat="accesorio in lista">
      <div class="image-wrapper">
        <img src="{{accesorio.foto}}" alt="{{accesorio.nombre}}">
      </div>
      <div class="content-wrapper">
        <p>{{accesorio.nombre}}</p>
        <p>{{accesorio.tipo}}</p>
        <button ng-click="addToCart(accesorio)" class="add-cart">
          <i class="fas fa-cart-plus"></i>
        </button>
      </div>
    </li>
  </ul>
</div>

