<div class="panel panel-primary" ng-hide="panelEditar">
	<div class="panel-heading">Parametrizaci&oacute;n de Bicicleta</div>
	<div class="panel-body">
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-click="nuevo()">Nuevo
				Bicicleta</button>
		</div>
            <ol dir-paginate="row in lista|filter: q|itemsPerPage:10" id="searchResults" class="section search-results list-view grid search-results-mot list--has-row-logos " imgtype="listingLightweight"> 
            <li class="results-item article grid "> 
                <div class="rowItem item item--grid item--has-row-logo new" id="{{row.serial}}">
                    <div class="item__image item__image--grid"> 
                        <div class="images-viewer" item-url="/src/Prestamo/{{row.serial}}" item-id="{{row.serial}}">
                            <a href="/src/Prestamo/{{row.serial}}" class="item-link item__js-link">
                                <img ng-show="row.foto" alt="{{row.serial}}" src="{{row.foto}}" class="lazy-load">
                                <img ng-show="!row.foto" alt="{{row.serial}}" src="https://escuelaenlanube.files.wordpress.com/2012/09/bicicleta.jpg" class="lazy-load">
                            </a> 
                        </div>
                    </div> 
                    <span class="item-loading__status-bar item-loading__hide"></span>
                    <a href="/src/Prestamo/{{row.serial}}" class="item__info-link item__js-link "> 
                        <div class="item__info ">
                            <div class="item__price "> 
                                <span class="price__symbol">$</span> 
                                <span class="price__fraction">{{row.precioAlquiler}}</span>
                            </div> 
                            <div class="item__attrs">${{row.precio}}</div>
                            <div class="item__title list-view-item-title">
                                <span class="main-title"> {{row.serial}} </span>
                            </div> 
                            <div class="item__location">{{row.marca.nombre + ' ' + row.proveedor.nombre}}</div> 
                        </div>
                    </a>
                    <div class="item__location_padb">
                        <div class="item__location">
                                <button class="add_cart_btn" ng-click="editar(row)">Editar</button>
                                <button class="add_cart_btn" ng-click="eliminar(row)">Eliminar</button>
                        </div> 
                    </div>
                        
                </div>
            </li>
            </ol>  
            
            
            
		
		<div dir-pagination-controls></div>
		<br />
	</div>
</div>


<div class="panel panel-primary" ng-show="panelEditar">
	<div class="panel-heading">Parametrizaci&oacute;n de Bicicleta</div>
	<div class="panel-body">

		<div class="form-group col-md-6" ng-class="errores.serial?'error':''">
			<label for="serial">serial</label> <input id="serial"
				class="form-control" type="text" ng-model="datosFormulario.serial"
				placeholder="serial" />
			<div ng-show="errores.serial">{{errores.serial}}</div>
		</div>
		/*if[Pago]*/
		<div class="form-group col-md-6" ng-class="errores.precio?'error':''">
			<label for="precio">precio</label> <input id="precio"
				class="form-control" type="text" ng-model="datosFormulario.precio"
				placeholder="precio" />
			<div ng-show="errores.precio">{{errores.precio}}</div>
		</div>
		<div class="form-group col-md-6"
			ng-class="errores.precioAlquiler?'error':''">
			<label for="precioAlquiler">precioAlquiler</label> <input
				id="precioAlquiler" class="form-control" type="text"
				ng-model="datosFormulario.precioAlquiler"
				placeholder="precioAlquiler" />
			<div ng-show="errores.precioAlquiler">{{errores.precioAlquiler}}</div>
		</div>
		/*end[Pago]*/
		<div class="form-group col-md-6" ng-class="errores.foto?'error':''">
			<label for="foto">foto</label> <input id="foto" class="form-control"
				type="text" ng-model="datosFormulario.foto" placeholder="foto" />
			<div ng-show="errores.foto">{{errores.foto}}</div>
		</div>
		<div class="row">
			<div class="form-group col-md-6" ng-class="errores.marca?'error':''">
				<label>marca</label> <select id="marca" class="form-control"
					ng-model="datosFormulario.marca"
					ng-options="option.nombre for option in listaMarca track by option.id">
				</select>
				<div ng-show="errores.marca">{{errores.marca}}</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-6"
				ng-class="errores.proveedor?'error':''">
				<label>proveedor</label> <select id="proveedor" class="form-control"
					ng-model="datosFormulario.proveedor"
					ng-options="option.nombre for option in listaProveedor track by option.id">
				</select>
				<div ng-show="errores.proveedor">{{errores.proveedor}}</div>
			</div>
		</div>

		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-click="guardar()">Aceptar</button>
			<button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
		</div>
	</div>
</div>

