

<div class="panel panel-primary" ng-hide="panelEditar">
	<div class="panel-heading">Parametrizaci&oacute;n de
		MedioDePagoUso</div>
	<div class="panel-body">
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-click="nuevo()">Nuevo
				MedioDePagoUso</button>
		</div>
		<table class="resultados table table-striped">
			<tr>
				<th>RegistroJson</th>
				<th>Pago</th>
				<th>MedioDePago</th>
				<th><input class="form-control" ng-model="q"
					placeholder="Buscar" /></th>
			</tr>
			<tr dir-paginate="row in lista|filter: q|itemsPerPage:10">
				<td>{{row.RegistroJson}}</td>
				<td class="row">{{row.MedioDePago.nombre}}</td>
				<td class="row">{{row.Pago.nombre}}</td>
				<td class="row">
					<button type="button" class="btn btn-default"
						ng-click="editar(row)">
						<span class="glyphicon glyphicon-pencil"></span>Editar
					</button>
					<button type="button" class="btn btn-default"
						ng-click="eliminar(row)">
						<span class="glyphicon glyphicon-remove"></span>Eliminar
					</button>
				</td>
			</tr>
		</table>
		<div dir-pagination-controls></div>
		<br />
	</div>
</div>

<div class="panel panel-primary" ng-show="panelEditar">
	<div class="panel-heading">Parametrizaci&oacute;n de
		MedioDePagoUso</div>
	<div class="panel-body">

		<div class="form-group col-md-6"
			ng-class="errores.RegistroJson?'error':''">
			<label for="RegistroJson">RegistroJson</label> <input
				id="RegistroJson" class="form-control" type="text"
				ng-model="datosFormulario.RegistroJson" placeholder="RegistroJson" />
			<div ng-show="errores.RegistroJson">{{errores.RegistroJson}}</div>
		</div>
		<div class="row">
			<div class="form-group col-md-6" ng-class="errores.Pago?'error':''">
				<label>Pago</label> <select id="Pago" class="form-control"
					ng-model="datosFormulario.Pago"
					ng-options="option.nombre for option in listaPago track by option.id">
				</select>
				<div ng-show="errores.Pago">{{errores.Pago}}</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-6"
				ng-class="errores.MedioDePago?'error':''">
				<label>MedioDePago</label> <select id="MedioDePago"
					class="form-control" ng-model="datosFormulario.MedioDePago"
					ng-options="option.nombre for option in listaMedioDePago track by option.id">
				</select>
				<div ng-show="errores.MedioDePago">{{errores.MedioDePago}}</div>
			</div>
		</div>

		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-click="guardar()">Aceptar</button>
			<button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
		</div>
	</div>
</div>

