<nav class="menu" ng-controller="MenuCtrl" style="background-color: {{mainColor}}; color: {{textColor}};">
  <img onclick="window.location.href='#/'" class="logo" src="{{logo}}" ng-if="logo" height="100">
  <ul>
    <li>
      <a href="#/Bicicleta">Bicicletas</a>
    </li>
    /*if[Accesorios]*/
    <li>
      <a href="#/Accesorio">Accesorios</a>
    </li>
    /*end[Accesorios]*/
    /*if[Bonificaciones]*/
    <li>
      <a href="#/Logro">Logros</a>
    </li>
    <li>
      <a href="#/Bonificacion">Bonificaciones</a>
    </li>
    /*end[Bonificaciones]*/
    <li>
      <a href="#/Multa">Multas</a>
    </li>
    <li>
      <a href="#/Prestamo">Prestamos</a>
    </li>
    <li>
      <a href="#/Marca">Marcas</a>
    </li>
    /*if[Pago]*/
    <li>
      <a href="#/Pago">Pagos</a>
    </li>
    /*end[Pago]*/
  </ul>
</nav>