

<div class="panel panel-primary" ng-hide="panelEditar">
	<div class="panel-body">
            <div class="container table-striped">
                <div class="row align-items-center" style="background-color: aqua">
                    <div class="col-md-2">
                        Item
                    </div>
                    <div class="col-md-2">
                        Valor alquiler
                    </div>
                    <div class="col-md-1">
                        Cantidad
                    </div>
                    <div class="col-md-1">
                        Dias
                    </div>
                    <div class="col-md-4">
                        Imagen
                    </div>
                    <div class="col-md-2">
                        Valor Total
                    </div>
                    <div class="col-md-1">
                        Remover
                    </div>
                </div>
                <br>
                <div class="row align-items-center" ng-repeat="item in itemsCarrito">
                    <div class="col-md-2">
                        {{item.nombre!=undefined?item.nombre:item.referencia}}
                    </div>
                    <div class="col-md-1">
                        {{(item.precioAlquiler != undefined ? item.precioAlquiler:item.precio) | currency }}
                    </div>
                    <div class="col-md-1">
                        {{item.cantidad}}
                    </div>
                    <div class="col-md-1">
                        <select ng-model="range" ng-change="calcTotal(range, item)">
                                <option ng-repeat="n in rangeDays" value="{{n}}">{{n}}</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <img ng-src="{{item.foto}}" alt="Image"/>
                    </div>
                     <div class="col-md-2" style="font-size:bold">
                        {{item.valTotal | currency}}
                    </div>
                    <div class="col-md-1" style="text-align: center" >
                        <input type="checkbox" ng-change="removeItem(item)" ng-model="chkSel"/>
                    </div>
                </div>
                <div class="row align-items-right">
                    <div class="col-md-2" style="font-size:bold">
                        Valor Total:
                    </div>
                    <div class="col-md-1" style="font-size:bold">
                        {{valTotal | currency}}
                    </div>
                </div>
            </div>
            
            <br>
            <div class="container">
                <div class="row align-items-center" ng-init="typePayment=pse">
                	/*if[PSE]*/
                    <div class="col-md-6">
                        <input type="radio" ng-model="typePayment" name="typePayment" value="pse">  PSE<br>
                    </div>
                    /*end[PSE]*/
                    /*if[Tarjeta_de_Credito]*/
                    <div class="col-md-6">
                        <input type="radio" ng-model="typePayment" name="typePayment" value="creditCard" >  Credit Card<br>
                    </div>
                    /*end[Tarjeta_de_Credito]*/
                </div>
                <div class="row align-items-center">
                /*if[PSE]*/
                    <div class="col-md-6">
                        <table ng-show="typePayment == 'pse'">
                            <tr style="height:30px">
                                <td>Banco</td>
                                <td>
                                    <select ng-model="bancoModel">
                                        <option ng-repeat="banco in listaBancos" value="{{banco.nombre}}">{{banco.nombre}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                    <td>
                                        Valor
                                    </td>
                                    <td>
                                        {{valTotal | currency}}
                                    </td>
                                </tr>
                            <tr style="height:30px">
                                <td>
                                    <button type="button" class="btn btn-default" ng-click="continuarPago()">
                                    Continuar</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                /*end[PSE]*/
                /*if[Tarjeta_de_Credito]*/
                    <div class="col-md-6">
                        
                        <table ng-show="typePayment == 'creditCard'" ng-model="pagoCredito">
                            <tr>
                                <td>
                                    <input type="radio" ng-model="typeCredit" name="typeCredit" value="mastercard" />
                                    <img ng-src="https://www.mastercard.us/etc/clientlibs/consumer-product/images/locators/mc_nearby.png" />
                                </td>
                                <td>
                                    <input type="radio" ng-model="typeCredit" name="typeCredit" value="visa" />
                                    <img ng-src="https://yt3.ggpht.com/-Hs-1Qb-_sFw/AAAAAAAAAAI/AAAAAAAAAAA/GOYq5xGkxbc/s100-mo-c-c0xffffffff-rj-k-no/photo.jpg" />
                                </td>
                            </tr>
                                <tr style="height:30px">
                                    <td>
                                        Banco:
                                    </td>
                                    <td>
                                        <select ng-model="bancoModel">
                                            <option ng-repeat="banco in listaBancos" value="{{banco.nombre"}}>{{banco.nombre}}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Valor
                                    </td>
                                    <td>
                                        {{valTotal | currency}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Numero de Tarjeta
                                    </td>
                                    <td>
                                        <input type="text" ng-model="pagoCredito.numeroTarjeta"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Nombre titular
                                    </td>
                                    <td>
                                        <input type="text" ng-model="pagoCredito.nombreTitular"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Codigo de verificacion
                                    </td>
                                    <td>
                                        <input type="text" ng-model="pagoCredito.codigoVerificaion"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Vigencia
                                    </td>
                                    <td>
                                        <input type="text" ng-model="pagoCredito.vigencia"/>
                                    </td>
                                </tr>
                                <tr><td></td></tr>
                                <tr style="height:30px" class="align-items-center">
                                    <td colspan="2">
                                        <button type="button" class="btn btn-default" ng-click="continuarPago()">
                                        Pagar</button>
                                    </td>
                                </tr>
                            </table>
                    </div>
                    /*end[Tarjeta_de_Credito]*/
                </div>
            </div>
	</div>
</div>
