

<div class="panel panel-primary" ng-hide="panelEditar">
	<div class="panel-body">
		<table class="resultados table table-striped">
                <tr>
                        <th>Bicicleta</th>
                        <th>Valor</th>
                        <th>Dias</th>
                        <th>Imagen</th>
                </tr>
                <tr ng-model="bike">
                        <td>{{bike.serial}}</td>
                        <td>{{bike.precioAlquiler}}</td>
                        <td><select> 
                                <option ng-repeat="n in rangeDays">{{n}}</option>
                            </select> </td>
                        <td>{{bike.foto}}</td>
                </tr>
            </table>
            <br> 
            <div>
                <table>
                    <tr style="height:30px">
                        <td>
                            <input type="radio" ng-click="showPSE" name="typePayment" value="pse" >  PSE<br>
                        </td>
                    </tr>
                    <tr>
                    <br>
                    <br>
                    <table>
                        <tr style="height:30px">
                            <td>
                                Banco: <select>
                                    <option ng-repeat="banco in listaBancos">{{banco.nombre}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr><td></td></tr>
                        <tr style="height:30px">
                            <td>
                                <button type="button" class="btn btn-default" ng-click="continuarPSE()">
                                Continuar</button>
                            </td>
                        </tr>
                    </table>
                    </tr>
                </table>
                
            </div>
	</div>
</div>

