

<div class="panel panel-primary" ng-hide="panelEditar">
	<div class="panel-heading">Parametrizaci&oacute;n de Prestamo</div>
	<div class="panel-body">
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-click="nuevo()">Nuevo
				Prestamo</button>
		</div>
		<table class="resultados table table-striped">
			<tr>
				<th>fechaInicio</th>
				<th>fechaFin</th>
				<th>multa</th>
				<th>pago</th>
				<th><input class="form-control" ng-model="q"
					placeholder="Buscar" /></th>
			</tr>
			<tr dir-paginate="row in lista|filter: q|itemsPerPage:10">
				<td>{{row.fechaInicio| date: 'dd/MM/yyyy'}}</td>
				<td>{{row.fechaFin| date: 'dd/MM/yyyy'}}</td>
				<td class="row">{{row.pago.nombre}}</td>
				<td class="row">{{row.multa.nombre}}</td>
				<td class="row">
					<button type="button" class="btn btn-default"
						ng-click="editar(row)">
						<span class="glyphicon glyphicon-pencil"></span>Editar
					</button>
					<button type="button" class="btn btn-default"
						ng-click="eliminar(row)">
						<span class="glyphicon glyphicon-remove"></span>Eliminar
					</button>
				</td>
			</tr>
		</table>
		<div dir-pagination-controls></div>
		<br />
	</div>
</div>

<div class="panel panel-primary" ng-show="panelEditar">
	<div class="panel-heading">Parametrizaci&oacute;n de Prestamo</div>
	<div class="panel-body">

		<div class="form-group col-md-6"
			ng-class="errores.fechaInicio?'error':''">
			<label for="fechaInicio">fechaInicio</label>
			<div class="input-group">
				<input id="fechaInicio" class="form-control datepicker" type="text"
					ng-model="datosFormulario.fechaInicio" /> <span
					class="input-group-addon"><span
					class="glyphicon glyphicon-calendar"></span></span>
			</div>
			<script>
				$('#fechaInicio').datepicker({
					format : 'dd/mm/yyyy',
					language : "es"
				}).on('changeDate', function(ev) {
					dp_fechaInicio.hide();
				}).data('datepicker');
			</script>
			<div ng-show="errores.fechaInicio">{{errores.fechaInicio}}</div>
		</div>
		<div class="form-group col-md-6"
			ng-class="errores.fechaFin?'error':''">
			<label for="fechaFin">fechaFin</label>
			<div class="input-group">
				<input id="fechaFin" class="form-control datepicker" type="text"
					ng-model="datosFormulario.fechaFin" /> <span
					class="input-group-addon"><span
					class="glyphicon glyphicon-calendar"></span></span>
			</div>
			<script>
				$('#fechaFin').datepicker({
					format : 'dd/mm/yyyy',
					language : "es"
				}).on('changeDate', function(ev) {
					dp_fechaFin.hide();
				}).data('datepicker');
			</script>
			<div ng-show="errores.fechaFin">{{errores.fechaFin}}</div>
		</div>
		<div class="row">
			<div class="form-group col-md-6" ng-class="errores.multa?'error':''">
				<label>multa</label> <select id="multa" class="form-control"
					ng-model="datosFormulario.multa"
					ng-options="option.nombre for option in listaMulta track by option.id">
				</select>
				<div ng-show="errores.multa">{{errores.multa}}</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-6" ng-class="errores.pago?'error':''">
				<label>pago</label> <select id="pago" class="form-control"
					ng-model="datosFormulario.pago"
					ng-options="option.nombre for option in listaPago track by option.id">
				</select>
				<div ng-show="errores.pago">{{errores.pago}}</div>
			</div>
		</div>

		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-click="guardar()">Aceptar</button>
			<button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
		</div>
	</div>
</div>

